:org.apache.felix.configadmin.revision:=L"2"
felix.fileinstall.active.level="90"
felix.fileinstall.dir="E:/graduate/1-B/HCIT/homework/Project/openhab-3.0.2/addons"
felix.fileinstall.filename="file:/E:/graduate/1-B/HCIT/homework/Project/openhab-3.0.2/userdata/etc/org.apache.felix.fileinstall-deploy.cfg"
felix.fileinstall.log.level="3"
felix.fileinstall.poll="10000"
felix.fileinstall.start.level="80"
felix.fileinstall.subdir.mode="skip"
felix.fileinstall.tmpdir="E:\\graduate\\1-B\\HCIT\\homework\\Project\\openhab-3.0.2\\userdata/tmp/bundles"
service.bundleLocation="?"
service.factoryPid="org.apache.felix.fileinstall"
service.pid="org.apache.felix.fileinstall.509197dc-b202-4905-91ab-4d93c4f799da"
