:org.apache.felix.configadmin.revision:=L"1"
encryption.algorithm="SHA-256"
encryption.enabled="true"
encryption.encoding="hexadecimal"
encryption.name="basic"
encryption.prefix="{CRYPT}"
encryption.suffix="{CRYPT}"
felix.fileinstall.filename="file:/E:/graduate/1-B/HCIT/homework/Project/openhab-3.0.2/userdata/etc/org.apache.karaf.jaas.cfg"
service.bundleLocation="?"
service.pid="org.apache.karaf.jaas"
