:org.apache.felix.configadmin.revision:=L"1"
felix.fileinstall.filename="file:/E:/graduate/1-B/HCIT/homework/Project/openhab-3.0.2/userdata/etc/org.ops4j.pax.logging.cfg"
org.ops4j.pax.logging.log4j2.config.file="E:\\graduate\\1-B\\HCIT\\homework\\Project\\openhab-3.0.2\\userdata\\etc/log4j2.xml"
service.bundleLocation="?"
service.pid="org.ops4j.pax.logging"
